* {
    font-family: arial, sans-serif;
}

table {
    border-collapse: collapse;
    width:  100%;
}

th, td {
    text-align: center;
    border: 1px solid #000000;
}

th {
    font-weight: bold;
    background-color: lightgray;
    /*background-color: #FA2F5A;*/
}

body, html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 100%;
}

 canvas {
 	touch-action: none;
 }

/*-------------------------- Body elements --------------------------*/
h1 {
	position: absolute;
	font-size: 2.197rem;
	padding-left: 2rem;
	top: 1rem;
}

h2 {
	font-size: 1.69rem;
}

.paragraph {
	position: absolute;
	padding-left: 5rem;
	top: 5.5rem;
}

#subt-author {
	position: absolute;
	top: 11rem;
	left: 5rem;
}

#tb-bps {
	position: absolute;
	top: 14.5rem;
	left: 5rem;
}

#subt-total {
	position: absolute;
	top: 49rem;
	padding-left: 5rem;
}

#subt-current {
	position: absolute;
	top: 11rem;
	left: 45rem;
}

#ownCanvas {
	border: 1px solid #FF00A6;
}

#coords {
	font-size: 1rem;
	width: 100%;
}

#bt-get {
	position: absolute;
	top:  5.4rem;
	left: 22rem;
}

#bt-create {
	position: absolute;
	top: 5.4rem;
	left: 45rem;
}

#bt-close {
	position: absolute;
	top: 5.4rem;
	left: 58rem;
}

#bt-save {
	position: absolute;
	top: 49rem;
	left: 45rem;
}

#bt-delete {
	position: absolute;
	top: 49rem;
	left: 55rem;
}

#div-canvas {
	text-align: center;
	position: absolute;
	top:  14.5rem;
	left: 45rem;	
}

.button {background-image: linear-gradient(to right, #FF512F 0%, #DD2476  51%, #FF512F  100%)}
.button {
	border: none;
    padding: 5px 20px;
    text-align: center;
    /*text-transform: uppercase;*/
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
}
.button:hover {
	background-position: right center;
    color: #fff;
    text-decoration: none;
}

.button-open {
	border-color: black;
	border-width: 2px;
    border-radius: 5px;
}